<section class="mt-50 mb-5 mt-5">
  <div class="container">
    <form action="" id="checkout-form">
      <div class="row">


        <div class="col-md-5">
          <div class="mb-25">
            <h4>Delivery address</h4>
          </div>
          <span>Want to ship to a new location? <a href="/address">Add new address</a> or select </span>
          <div class="mb-sm-15">

            <br>
            <div class="address-list mb-3">
              {{#each address}}
              <div class="form-check mb-3 custome-radio choose-address">
                <input value="{{this.CustomerName}},{{this.address}},{{this.state}},{{this.pincode}}"
                  class="form-check-input deliveryAddress" style="padding-left:2px" type="radio" name="address"
                  required>
                <label class="form-check-label"><em>
                    {{this.CustomerName}},{{this.address}},{{this.state}},{{this.pincode}}</em>

                </label>
              </div>
              {{/each}}
            </div>
            <input type="text" value="{{user._id}}" name="userId" hidden>




          </div>

        </div>

        <div class="col-md-7">
          <div class="row">
            <div class="col">
              <div class="order_review">
                <div class="coupon mb-30">
                  <div class="toggle_info">

                  </div>

                </div>
                <div class="table-responsive order_table text-center">
                  <div class="col-md-4 order-md-2 mb-4">
                    <h4 class="d-flex  align-items-center mb-3">
                      <span class="text-muted">Your Order</span>
                      <span class="badge badge-secondary badge-pill">3</span>
                    </h4>
                    <ul class="list-group mb-3">
                      <li class="list-group-item d-flex " style="width: 200%;">
                        <span>Total (INR)</span>
                        <strong id="totalAmount">{{total}}</strong>
                      </li>
                    </ul>



                  </div>
                </div>
                <div class="bt-1 border-color-1 mt-30 mb-30"></div>

                <div class="payment_method">
                  <div class="mb-25">
                    <h5>Payment Method</h5>
                  </div>
                  <div class="payment_option">
                    <div class="">
                      <input class="form-check-input" required="" style="padding-left:2px" type="radio" id="cod"
                        value="cod" name="paymentMethod" checked="">
                      <label class="form-check-label" name="paymentMethod" for="cod" aria-controls="bankTranfer">Cash on
                        Delivery</label>

                    </div>
                    <div class="">
                      <input class="form-check-input" required="" style="padding-left:2px" type="radio"
                        name="paymentMethod" id="razorpay" value="razorpay" checked="">
                      <label class="form-check-label" name="paymentMethod" for="razorpay"
                        aria-controls="checkPayment">Razorpay</label>

                    </div>
                    <div class="">
                      <input class="form-check-input" required="" style="padding-left:2px" name="paymentMethod"
                        type="radio" id="paypal" value="paypal" checked="">
                      <label class="form-check-label" for="paypal" name="paymentMethod"
                        aria-controls="paypal">Paypal</label>

                    </div>
                    <div class="">
                      <input class="form-check-input" required="" style="padding-left:2px" name="paymentMethod"
                        type="radio" id="wallet" value="wallet" checked="">
                      <label class="form-check-label" for="wallet" name="paymentMethod"
                        aria-controls="wallet">Wallet Payment</label>
                        <input type="text" id="userWallet" value="{{user1.wallet}}" hidden>
                    </div>
                    <div class="walletErr"><p class="walletErr" id="walletErr" style="color: red;"></p></div>
                  </div>
                </div>

                <div class="input-group-append ">
                  <button type="submit" id="csubmit" onclick="return validateCForm()" class="btn btn-primary mt-5">PLACE
                    ORDER</button>

                </div>
                <div>
                  <span id="submit-error" style="color: red;"></span>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="discount-code-wrapper">
                <div class="title-wrap">
                  <h4 class="cart-bottom-title section-bg-gray">Use Coupon Code</h4>
                </div>
                <div class="discount-code">
                  <p>Enter your coupon code if you have one.</p>

                  {{!-- <form method="post" action="/apply-coupon"> --}}
                    <input type="text"  name="couponName" id="couponName" />
                    <p id="errorCoupon" style="color: red;"></p>
                    <button class="cart-btn-2" onclick="applyCoupon(event)">Apply Coupon</button>
                    {{!--
                  </form> --}}

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>

<script>

  $("#checkout-form").submit((e) => {
    e.preventDefault()

    $.ajax({
      url: '/place-order',
      method: 'post',
      data: $('#checkout-form').serialize(),
      success: (response) => {
        Swal.fire({
          position: 'center',
          icon: 'success',
          title: 'Your order has been placed',
          showConfirmButton: true,
          timer: 10000
        })
        console.log(response)
      }
    }).then((response) => {
      if (response.codSuccess) {
        window.location.href = '/order-success'
      } if (response.razorpay) {
        razorpayPayment(response)
      } if (response.payPal) {
        for (let i = 0; i < response.links.length; i++) {
          if (response.links[i].rel === "approval_url") {
            location.href = response.links[i].href;
          }
        }
      }if (response.wallet) {
        console.log('france',response)
        window.location.href = '/order-success'
      }
    })
  })

  function razorpayPayment(order) {
    var options = {
      "key": "rzp_test_lAB3d9vBuWE8JR", // Enter the Key ID generated from the Dashboard
      "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
      "currency": "INR",
      "name": "CyberPark inc.",
      "description": "Test Transaction",
      "image": "https://example.com/your_logo",
      "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
      "handler": function (response) {
        //      alert(response.razorpay_payment_id);
        //      alert(response.razorpay_order_id);
        //      alert(response.razorpay_signature)

        verifyPayment(response, order)
      },
       "modal": {
        "ondismiss": function(){
          window.location.replace('http://localhost:3000/cancel-payment?id='+order.receipt)
         // window.location.replace('http://furns.store/cancel-payment?id='+order.receipt)
          
            console.log('Checkout form closed');
        }
    },
      "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9999999999"
      },
      "notes": {
        "address": "Razorpay Corporate Office"
      },
      "theme": {
        "color": "#3399cc"
      }
    };
    var rzp1 = new Razorpay(options);
    rzp1.open();
  }
  function verifyPayment(payment, order) {
    $.ajax({
      url: '/verify-payment',
      data: {
        payment,
        order
      },
      method: 'post',
      success: (response) => {
        if (response.status) {
          window.location.href = '/order-success'
        } else {
          alert('payment failed')
          //     Swal.fire({
          //        icon: 'error',
          //      title: 'Payment Failed',
          //      text: 'Something went wrong!',

          //     })
        }

      }
    })
  }



  function applyCoupon(event) {
    event.preventDefault()
    let coupon = document.getElementById('couponName').value;
    let amountDue = document.getElementById('totalAmount').innerText
    console.log('amount',amountDue)
    $.ajax({

      url: '/applyCoupon',
      data: {
        coupon
      },
      method: 'post',
      success: (response) => {
        console.log(response,response.used)
        if (response.verify) {
          console.log("Valid",response.discountAmount)
          var newAmount= amountDue - response.discountAmount
          document.getElementById('totalAmount').innerHTML = "₹ " + newAmount
      //    document.getElementById('discount').innerHTML = "₹ " + response.discountAmount
      //    document.getElementById('totall').innerHTML = "₹ " + response.amount
      //    document.getElementById('percentage').innerHTML = response.couponData.couponPercentage + '%'
      //    document.getElementById('error').innerHTML = ''
         
      //    document.getElementById("applyCouponBtn").hidden = true;
      //    document.getElementById('deleteCouponBtn').hidden = false;
        }
        else {
          console.log("Something went wrong")
          let k = response.used
          console.log(k)
       //   document.getElementById('discount').innerHTML = "₹ " + 0
        //  document.getElementById('totall').innerHTML = "₹ " + response.Total
         // document.getElementById('percentage').innerHTML = 0 + "%"

          if (response.used) {
           console.log(response.used,'coupon used')
            document.getElementById('errorCoupon').innerText = 'Coupon already Applied'
      //      document.getElementById('errorCoupon').innerHTML = response.used;
          }
          else if (response.minAmount) {
            document.getElementById('errorCoupon').innerText = response.minAmountMsg;
          }
          else if (response.maxAmount) {
            document.getElementById('errorCoupon').innerText = response.maxAmountMsg
          }
          else if (response.invalidDate) {
            document.getElementById('errorCoupon').innerText = response.invalidDateMsg
          }
          else if (response.invalidCoupon) {
            document.getElementById('errorCoupon').innerText = response.invalidCouponMsg
          }
          else if (response.noCoupon) {
            document.getElementById('errorCoupon').innerText = 'Invalid Coupon Details'
          }
        }
      }



    });
  }


  function removeCoupon(event) {
    event.preventDefault();
    let coupon = document.getElementById('couponName').value;

    $.ajax({

      url: '/removeCoupon',
      data: {
        coupon
      },
      method: 'post',
      success: (response) => {
        swal({
          title: "Coupon Deleted!",
          text: "You have removed the coupon!",
          icon: "success",
          button: "OK!",
        }).then(() => {
          document.getElementById('percentage').innerHTML = 0 + '%'
          document.getElementById('discount').innerHTML = 0
          document.getElementById('error2').innerHTML = ''
          document.getElementById('couponName').value = ''

          // document.getElementById('couponName').value = ""
          document.getElementById("applyCouponBtn").hidden = false
          document.getElementById("deleteCouponBtn").hidden = true
          document.getElementById("error").innerHTML = ""
          document.getElementById('totall').innerHTML = '₹ ' + response.totalAmount
        })
      }



    });
  }



</script>