<section class="content-main">
     <!-- OffCanvas Cart Start -->
    <div id="offcanvas-cart" class="offcanvas offcanvas-cart">
        <div class="inner">
            <div class="head">
                <span class="title">Cart</span>
                <button class="offcanvas-close">×</button>
            </div>
            <div class="body customScroll">
                <ul class="minicart-product-list">
                 
                   {{#each cartProd}}
                    <li>
                        <a href="single-product.html" class="image"><img src="/productImages/{{this.product._id}}0.jpg"
                                alt="Cart product Image"></a>
                        <div class="content">
                            <a href="single-product.html" class="title">{{this.product.name}}</a>
                            <span class="quantity-price">{{this.quantity}} x <span class="amount">₹{{this.product.price}}</span></span>
                            <a href="#" class="remove">×</a>
                        </div>
                    </li>
                    
                     
                    
                     {{/each}}
                     
                </ul>
            </div>
            <div class="foot">
                <div class="sub-total">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="text-start">Total :</td>
                                <td class="text-end theme-color">₹{{totalValue}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                 
                <div class="buttons">
                    {{#if user}}
                    <a href="/view-cart" class="btn btn-dark btn-hover-primary mb-30px">view cart</a>
                    {{#ifNotEquals cartCount 0}}
                    <a href="/place-order" class="btn btn-outline-dark current-btn">checkout</a>
                    {{/ifNotEquals}}
                    {{else}}
                     <a href="/login" class="btn btn-dark btn-hover-primary mb-30px">view cart</a>
                     <a href="/login" class="btn btn-outline-dark current-btn">checkout</a>
                     {{/if}}
                    
                </div>
               
            </div>
        </div>
    </div>
    <!-- OffCanvas Cart End -->
    <div class="card">
        <div class="card-body">
            <div class="row gx-5">
                <aside class="col-lg-3 border-end">
                    <nav class="nav nav-pills flex-lg-column mb-4">
                        <a class="nav-link" aria-current="" href="account">Dashboard</a>
                        <a class="nav-link active" href="orders">My Orders</a>
                        <a class="nav-link" href="address">Address</a>
                        {{!-- <a class="nav-link" href="#">SEO settings</a>
                        <a class="nav-link" href="#">Mail settings</a>
                        <a class="nav-link" href="#">Newsletter</a> --}}
                    </nav>
                </aside>
                <div class="col-lg-9">
                    <section>
                        <!-- Cart Area Start -->
                        <div class="cart-main-area ">
                            <div class="container">
                                <h3 class="cart-page-title">My Orders</h3>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                        <form action="#">
                                            <div class="table-content table-responsive cart-table-content">
                                                <table>
                                                    <thead>
                                                        <tr>
                                                            {{!-- <th>Order #.</th> --}}
                                                            <th>DATE</th>
                                                            <th>Total</th>
                                                            <th>Payment Method</th>
                                                            <th>Status</th>
                                                            {{!-- <th>Cancel Order</th> --}}
                                                            <th>Details</th>
                                                            
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {{#each orders}}
                                                        <tr>
                                                            {{!-- <td class="order-id"><a href="#"
                                                                    style="color:black ;">{{this._id}}</a></td> --}}
                                                            <td class="order-date"><a href="#"
                                                                    style="color:black ;">{{this.date}}</a></td>
                                                            <td class="order-price"><a href="#"
                                                                    style="color:black ;">₹{{this.totalAmount}}</a></td>
                                                            <td class="order-payment"><a href="#"
                                                                    style="color:black ;">{{this.paymentMethod}}</a>
                                                            </td>
                                                            <td class="order-payment"><a href="#"
                                                                    style="color:black ;">{{this.status}}</a></td>
                                                            {{!-- <td class="order-payment"><a
                                                                    href="/cancel-order?id={{this._id}}"><svg
                                                                        xmlns="http://www.w3.org/2000/svg" width="16"
                                                                        height="16" fill="currentColor"
                                                                        class="bi bi-trash" style="color:red ;"
                                                                        viewBox="0 0 16 16">
                                                                        <path
                                                                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                                                        <path fill-rule="evenodd"
                                                                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                                                    </svg></a></td> --}}
                                                            {{!-- <td class="order-detail"><a
                                                                    href="/view-order-details?id={{this._id}}"
                                                                    class="btn btn-secondary"
                                                                    style="width:50% ; height:30%; ">view</a></td> --}}
                                                            {{!-- <td class="order-detail"><a
                                                                    href="/view-order-details?id={{this._id}}"
                                                                    class="btn btn-secondary"
                                                                    style="width:50% ; height:30%; ">view</a></td> --}}
                                                            <td class="order-payment"><a
                                                                    href="/view-order-details?id={{this._id}}"><svg
                                                                        xmlns="http://www.w3.org/2000/svg" width="16"
                                                                        height="16" style="color:black ;"
                                                                        fill="currentColor" class="bi bi-info-circle"
                                                                        viewBox="0 0 16 16">
                                                                        <path
                                                                            d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                                        <path
                                                                            d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                                                                    </svg></a></td>
                                                            

                                                        </tr>
                                                        {{/each}}
                                                    </tbody>
                                                </table>

                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Cart Area End -->
                    </section>
                </div> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- card body end// -->
    </div> <!-- card end// -->
</section> <!-- content-main end// -->
<footer class="main-footer font-xs">

   