<section>
     <!-- OffCanvas Cart Start -->
    <div id="offcanvas-cart" class="offcanvas offcanvas-cart">
        <div class="inner">
            <div class="head">
                <span class="title">Cart</span>
                <button class="offcanvas-close">×</button>
            </div>
            <div class="body customScroll">
                <ul class="minicart-product-list">
                 
                   {{#each cartProd}}
                    <li>
                        <a href="single-product.html" class="image"><img src="/productImages/{{this.product._id}}0.jpg"
                                alt="Cart product Image"></a>
                        <div class="content">
                            <a href="single-product.html" class="title">{{this.product.name}}</a>
                            <span class="quantity-price">{{this.quantity}} x <span class="amount">₹{{this.product.price}}</span></span>
                            <a href="#" class="remove">×</a>
                        </div>
                    </li>
                    
                     
                    
                     {{/each}}
                     
                </ul>
            </div>
            <div class="foot">
                <div class="sub-total">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="text-start">Total :</td>
                                <td class="text-end theme-color">₹{{totalValue}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                 
                <div class="buttons">
                    {{#if user}}
                    <a href="/view-cart" class="btn btn-dark btn-hover-primary mb-30px">view cart</a>
                    {{#ifNotEquals cartCount 0}}
                    <a href="/place-order" class="btn btn-outline-dark current-btn">checkout</a>
                    {{/ifNotEquals}}
                    {{else}}
                     <a href="/login" class="btn btn-dark btn-hover-primary mb-30px">view cart</a>
                     <a href="/login" class="btn btn-outline-dark current-btn">checkout</a>
                     {{/if}}
                    
                </div>
               
            </div>
        </div>
    </div>
    <!-- OffCanvas Cart End -->
    <!-- Product Details Area Start -->
    <div class="product-details-area pt-100px pb-100px">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-12 col-xs-12 mb-lm-30px mb-md-30px mb-sm-30px">
                    <!-- Swiper -->
                    <!-- Swiper -->
                    <div class="swiper-container zoom-top">
                        <div class="swiper-wrapper" id="img-container" value="{{product.stock}}">
                            <div class="swiper-slide zoom-image-hover">
                                <img class="img-responsive m-auto" src="/productImages/{{product._id}}0.jpg" alt="">
                            </div>
                            <div class="swiper-slide zoom-image-hover">
                                <img class="img-responsive m-auto" src="/productImages/{{product._id}}1.jpg" alt="">
                            </div>
                            <div class="swiper-slide zoom-image-hover">
                                <img class="img-responsive m-auto" src="/productImages/{{product._id}}2.jpg" alt="">
                            </div>
                            <div class="swiper-slide zoom-image-hover">
                                <img class="img-responsive m-auto" src="/productImages/{{product._id}}3.jpg" alt="">
                            </div>
                            <div class="swiper-slide zoom-image-hover">
                                <img class="img-responsive m-auto" src="/productImages/{{product._id}}4.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-container zoom-thumbs slider-nav-style-1 small-nav mt-15px mb-15px">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img class="img-responsive m-auto" src="/productImages/{{product._id}}0.jpg" alt="">
                            </div>
                            {{!-- style="height: 90px; ;width:90px;" --}}
                            <div class="swiper-slide">
                                <img class="img-responsive m-auto" src="/productImages/{{product._id}}1.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img class="img-responsive m-auto" src="/productImages/{{product._id}}2.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img class="img-responsive m-auto" src="/productImages/{{product._id}}3.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img class="img-responsive m-auto" src="/productImages/{{product._id}}4.jpg" alt="">
                            </div>
                        </div>
                        <!-- Add Arrows -->
                        <div class="swiper-buttons">
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-delay="200">
                    <div class="product-details-content quickview-content">
                        <h2>{{product.name}}</h2>
                        {{!-- <p class="reference">Reference:<span> demo_17</span></p> --}}
                        <div class="pro-details-rating-wrap">

                        </div>
                        <div class="pricing-meta">
                            <div>
                                <ul>
                                    <li class="old-price not-cut">
                                        <div>{{#ifNotEquals this.originalPrice null}} <span class="new"><s>₹{{this.originalPrice}}</s></span>{{/ifNotEquals}}</div>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <ul>
                                    <li class="old-price not-cut">
                                        <h4 style="color: black;"><em>₹{{product.price}}</em></h4>
                                    </li>
                                </ul>
                            </div>
                        </div>
                       
                        <div class="pro-details-quality">

                            <div class="pro-details-cart">
                               {{#if user}}
                                {{#ifEquals max '1' }}
                                <h3 style="color: red;">Product Out of Stock</h3>
                                {{/ifEquals}}
                                {{#ifNotEquals max '1'}}
                                <button id="addToCart" onclick="addTocart('{{product._id}}')"
                                    class="add-cart btn btn-primary btn-hover-primary ml-4"> Add To Cart</button>
                                {{/ifNotEquals}}
                                {{else}}
                                 <button id="gotoLogin" onclick="gotoLogin()"
                                    class="add-cart btn btn-primary btn-hover-primary ml-4"> Add To Cart</button>
                                {{/if}}
                            </div>


                        </div>
                        <div> <b id="limitedstock" style="color: red;"></b></div>
                       
                       
                        {{!-- <div class="pro-details-policy">
                            <ul>
                                <li><img src="assets/images/icons/policy.png" alt="" /><span>Security Policy </span>
                                </li>
                                <li><img src="assets/images/icons/policy-2.png" alt="" /><span>Delivery Policy </span>
                                </li>
                                <li><img src="assets/images/icons/policy-3.png" alt="" /><span>Return Policy </span>
                                </li>
                            </ul>
                        </div> --}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- product details description area start -->
    <div class="description-review-area pb-100px" data-aos="fade-up" data-aos-delay="200">
        <div class="container">
            <div class="description-review-wrapper">
                <div class="description-review-topbar nav">
                 
                    <a class="active" data-bs-toggle="tab" href="#des-details2">Product Details</a>
                    {{!-- <a data-bs-toggle="tab" href="#des-details3">Reviews (2)</a> --}}
                </div>
                <div class="tab-content description-review-bottom">
                    <div id="des-details2" class="tab-pane active">
                        <div class="product-anotherinfo-wrapper">
                            <ul>
                                {{product.description}}
                            </ul>
                        </div>
                    </div>
                    <div id="des-details1" class="tab-pane">
                        <div class="product-description-wrapper">
                            {{!-- <p{{product.description}}> </p> --}}
                              
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- product details description area end -->
</section>
<script src="https://unpkg.com/js-image-zoom/js-image-zoom.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-image-zoom/js-image-zoom.min.js"></script>


<script>


    console.log("hi")
    var options = {
        width: 450, // required
        zoomWidth: 300,
        scale: 0.7,
        offset: {
            vertical: 70,
            horizontal: -800
        }

    };
    new ImageZoom(document.getElementById("img-container"), options);

    var limStock = document.getElementById("limitedstock")

function gotoLogin(){
    location.href = "/login"
}
</script>